@{
    ViewBag.Title = "ALMAN - Assisted Living Software";
}
<!-- Page Content -->
<div class="container">
    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Welcome to ALMAN
            </h1>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-check"></i> Responsive UI</h4>
                </div>
                <div class="panel-body">
                    <p>ALMAN can be run on any device, from a desktop computer, tablets, and even your cell phone.  Digitize your business with the power of the cloud.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-unlock"></i> Cloud unlocked for small business</h4>
                </div>
                <div class="panel-body">
                    <p>By taking advantage of the cloud, you can run your small facility with all the advantages of a big business.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-compass"></i> Easy to Use</h4>
                </div>
                <div class="panel-body">
                    <p>
                        ALMAN was built from the ground up by people with experience in the Assisted Living community. Scheduling tasks and tracking your business
                        has never been easier.

                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <!-- /.row -->
    <!-- Features Section -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">ALMAN Business Features</h2>
        </div>
        <div class="col-md-6">
            <p>The ALMAN application is built on the following technologies:</p>
            <ul>
                <li>
                    <strong>ASP.NET MVC</strong>
                </li>
                <li>C#</li>
                <li>SQL Server 2014</li>
                <li>Runs on Microsoft Azure</li>
            </ul>
            <p>
                ALMAN was built on top of Microsoft's technology suite of tools, all with the goal of optimizing
                how your data is leveraged in the cloud.
            </p>
            <p>Need some additional marketing speal here.</p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="~/Content/Images/cloud.jpg" alt="">
        </div>
    </div>
    <!-- /.row -->
    <!-- Call to Action Section -->
    <div class="row" style="margin:10px">

    </div>
    <div class="well">
        <div class="row">
            <div class="col-md-8">
                <p>
                    If you're interested in ALMAN, it is easy to sign up and get started.<br />
                    <i>(Users will be able to sign-up and create an ALMAN account here)</i>
                </p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-lg btn-primary btn-block" href="#">Create an ALMAN Account</a>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->
@section scripts {
    <!-- Script to Activate the Carousel -->

    <script>
        $(function () {
            $('.carousel').carousel({
                interval: 5000 //changes the speed
            })
        });
    </script>
}
