@using Newtonsoft.Json
@using Alman.Domain
@{
    ViewBag.Title = "ListEditor";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}

<div id="editor">
    <div class="row">
        <div class="col-md-4">
            
        </div>
    </div>
    <div class="row" style="margin-top:25px">
        <div class="col-md-12">
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Alman List Editor
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="partitions">Data Partition</label>
                                <select data-bind="options: DataPartitions, optionsText: 'Name', value: 'Id' " class="form-control"></select>
                            </div>
                            <div class="col-md-4">
                                <label for="selectionType">List Type</label>
                                <select class="form-control" data-bind="options: EditorTypes, value:SelectedEditorType "></select>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>
        $(function () {
            listEditor.init();
        })

        var listEditor = {
            model: null,
            init: function () {
                var serverModel = @Html.Raw(JsonConvert.SerializeObject(Model));
                if (serverModel) {
                    var container = $("#editor")[0];
                    listEditor.model = ko.mapping.fromJS(serverModel);
                    ko.applyBindings(listEditor.model, container);
                }

                listEditor.model.SelectedEditorType.subscribe(function() {
                    console.log("Selected editor type changed.");
                });
            }
        }
    </script>
}
