@using Newtonsoft.Json
@using Alman.Domain

@model Alman.Web.Areas.Admin.Models.SitesViewModel
@{
    ViewBag.Title = "Sites";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}
<div id="sites">
    <div class="row">
        <div class="col-lg-10">
            <h2>Alman Sites</h2>
        </div>
        
        <div class="col-lg-2 hidden-sm hidden-xs hidden-md">
            <button type="button" class="btn btn-default" style="margin-top:15px;margin-bottom:5px">
                <span class="fa fa-plus-circle"></span>&nbsp;&nbsp;Add New Site
            </button>
        </div>
        <div class="col-lg-2 hidden-lg">
            <a style="margin-bottom:15px" href="#"><span class="fa fa-plus-circle"></span> Add New Site</a>
        </div>
    </div>
    <hr style="margin-top:0" />
    <div class="row">
        <div class="col-md-12">
            <div style="height:250px" data-bind="koGrid: {
                data: Sites,
                afterSelectionChange: sites.siteSelected, 
                selectedItems: SelectedSites,
                multiselect: false,
                footerVisible: false,
                showFilter: false,
                showColumnMenu: false,                
                displaySelectionCheckbox: false,
                columnDefs: [
                    { field: 'HostId', displayName: 'Host Id', width: 70},
                    { field: 'HostName', displayName: 'Host Name', width: 140},
                    { field: 'PartitionName', displayName: 'Partition', width: 110},
                    { field: 'HostDescription', displayName: 'Description', width: '*' , minWidth: 120},
                    { field: 'IsDeleted', displayName: 'Active', width: 90},
                    { field: 'LastModifiedBy', displayName: 'Last Modified', width: 120},
                ]
            }"></div>
        </div>        
    </div>
    <hr/>
    <div class="row">
        <div data-bind="if: SelectedSites().length > 0">
            Display: <span data-bind="text: SelectedSites()[0].HostId"></span>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            sites.init();
        })

        var sites = {
            model: null,
            init: function () {
                var serverModel = @Html.Raw(JsonConvert.SerializeObject(Model));
                if (serverModel) {
                    var container = $("#sites")[0];
                    sites.model = ko.mapping.fromJS(serverModel);
                    ko.applyBindings(sites.model, container);
                }
            },
            siteSelected: function() {
                console.log("site selected");
            }
        };
    </script>
}




